*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
    
    /* background:#ebc934; */
    min-height:100vh;
    background-image:url("two.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    color:#000;
    position:relative;
    width:100%;
    
   
    
    
    }

    body p:first-child{
      text-align:center;
    }

  
  .container{
  /*   background:blue; */
    
    
    font-weight:600;
    display:flex;
    justify-content:space-around;
    font-size:3rem;
    padding:25px;
    /* border:2px solid #000; */
    font-family: 'Lato', sans-serif;
    text-align:center;
    
    
   
   
   
   
  }

  .main{
    
    padding:0.5rem;
    /* position:relative; */
    border:1px solid black;
    width:90%;
    margin:1.5rem auto;
  }

  

  
  body h1{
    width:100%;
    /* border:1px solid black; */
    text-align:center;
    
    margin-top:2.5rem;
    /* top:10%;
    left:48%; */
    /* transform:translateX(-50%); */
    font-size:3rem;
    font-family: 'Mochiy Pop P One', sans-serif;
  }

  #days,#hours,#minutes,#seconds{
    font-size:3rem;
  }
  .text{
    font-size:1rem;
  }

  .ballon-image{
    margin-top:1rem;
    max-width:100px;
  }

.btn{
  text-align:center;
  margin-top:1.5rem;
}

 #start-btn{
  width:200px;
  height:80px;
  box-shadow:3px 5px 10px black;
  font-size:1.5rem;
  padding:5px 6px;
  font-weight:100;
  border:none;
  font-family:'Mochiy Pop P One', sans-serif;
  outline:none;
  /* border-radius:8px; */
   background:#000;
  color:#fff; 
} 
 
  @media only screen and (max-width:1260px){
    body h1{
     
      font-size:1rem;
    }
    .container{
      
      padding:10px;
      margin:0 2rem;
    }
  }

  @media only screen and (max-width:552px){
    .ballon-image{
      max-width:70px;
    }
  }